@font-face {
    font-family: "Nunito-SemiBold";
    src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("../../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Mukta-SemiBold";
    src: url("../../assets/fonts/Mukta-SemiBold.ttf");
}

@font-face {
    font-family: "Mukta-Regular";
    src: url("../../assets/fonts/Mukta-Regular.ttf");
}

#mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #92B4EC;
    width: 100%;
}

#headerTitle {
    margin-left: 24px;
    font-family: "Nunito-SemiBold";
}

#buttonContainer {
    margin-right: 24px;
}

#buttonContainer>* {
    margin-left: 8px;
    margin-right: 8px;
}

.buttonSign {
    padding-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    background-color: #FFE69A;
    width: 110px;
    height: 34px;
    border-radius: 999px;
    font-family: "Mukta-Regular";
    font-size: 16px;
    cursor: pointer;
}

.buttonSign:active,
.buttonLogOut:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.buttonLogOut {
    padding-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    background-color: #f06969;
    width: 110px;
    height: 34px;
    border-radius: 999px;
    font-family: "Mukta-Regular";
    font-size: 16px;
    cursor: pointer;
}