.separator {
    background: #DDDDDD;
    height: 1px;
    width: 95%;
}

#headerModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#closeModal {
    height: 34px;
    width: 34px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer>label {
    margin-top: 12px;
}

.inputContainer>input {
    margin-top: 4px;
}

#closeModal {
    cursor: pointer;
}